body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box
}

.carousel {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
    position: relative;
    text-align: center;
}

.slide.visible {
    display: block;
    pointer-events: all;
    cursor: pointer;
}

img {
    vertical-align: middle;
}

.previous-slide,
.next-slide {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 10;
}

.next-slide {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous-slide:hover,
.next-slide:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.slide-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 5px;
    pointer-events: auto;
    text-decoration: none;
    font-weight: 600;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}