* {
    box-sizing: border-box;
}

.white-10-color {
    color: rgb(201, 201, 201)
}

.main-color {
    color: #cbeb6d;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 100vh;
}

.carousel {
    max-width: 1100px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
    position: relative;
    text-align: center;
}

.slide.visible {
    display: block;
    pointer-events: all;
    cursor: pointer;
}

img {
    vertical-align: middle;
    object-fit: cover;
    max-height: 577px;
}

.previous-slide,
.next-slide {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 10;
}

.next-slide {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous-slide:hover,
.next-slide:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(233, 255, 181);
    transition: 0.6s ease;
}

.slide-title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    text-decoration: none;
    font-weight: 600;
    content: "";
    color: white;
}

.slide-title figcaption {
    position: inherit;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 100%;
}


/*  NAVIGATION BAR */

nav {
    margin-bottom: 1%;
}

nav ul {
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: right;
}

.logo {
    float: left;
}

.logo img {
    -webkit-filter: invert(1);
    filter: invert(1);
    height: 48px;
    padding: 5px;
    cursor: pointer;
}

nav li {
    display: inline-flex;
}

nav li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color: #ff5353;
    color: black;
}


/* Products grid */

.grid {
    display: grid;
    grid-template-columns: repeat(6, 500px);
    grid-gap: 20px;
    /* align-items: stretch; */
}

.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    max-width: 100%;
}